html, body{
  width:100%;
  height: 100%;

}

* {
  /* margin: 5px;
  padding: 5px; */
  max-width: 500rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  
  
  /* box-sizing: border-box; */
}


.app {
  text-align: center;
  align-items: center;
 
}

.gridDiv{
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}

.dinoContainer{
  margin: 10px;
  padding: 10px;
  height:30%;
 
}

.dinobutton{
  border-radius: 100px;
  margin: 10px;
  padding: 50px;
  width: 220px;
  height:100px;
  background-position: center;
  justify-content: space-evenly;

}



.preloader {
  align-items: center;
  background: rgb(23, 22, 22);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  color:white;
  font-family: Snell Roundhand, cursive;
  font-size:100px;
  opacity: .70;
  position: fixed;
  top: 0;
  transition: opacity 1s linear;
  width: 100%;
  z-index: 9999;
}

.colorbutton{
  display: flex;
  flex-flow: row;
  text-align: center;
  border-radius:0;
  padding: 20px;
  width: 100%;
  height: 20px;
} 

.colorButtonBox{
  display: flex;
  text-align: center;
  flex-flow: row;
}


.colorbutton:hover {
  opacity: .3;
}


.formsubmit{
  width: 40px;
}

.deleteButton{
  padding:10px;
  height: 50px;
  margin: 10px;
}

.card{ 
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: large;
display:flex;
align-items: flex-end;
justify-content: space-evenly;
height: 70%;
/* justify-content: center; */
position: relative;
color: whitesmoke;
transform: translate(0px, 34px);

}


.cardContent{
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding:5px;
}
.card-list{  
  color: whitesmoke;
display: inline-block;
}

.carousel {
  border-radius: 50px;
  font-family: 'Kaushan Script', cursive;
  display: inline-block;
  background-image: url('./marbledpaper1.jpg');
  height:110%;
  overflow: hidden;
  position: relative;
  perspective: 100px;
  width: 33%;
}

.carousel :first-child{
}

.carousel-cell {
  width: 290;
  height: 100%;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  flex: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.carousel-cell img {
  display: flex;
  flex:row;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 1;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  /* -webkit-filter: blur(5px);
          filter: blur(5px); */
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell {
    height: 400px;
  }
}

@media screen and ( min-width: 960px ) {
  .carousel-cell {
    width: 60%;
  }
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
  z-index: 9999;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: black;
}
.flickity-prev-next-button.no-svg {
  color:black;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}